<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar-color">
    <ion-buttons slot="start">
      <!-- TODO: cambiar la ruta a la hamburguesa de servicios -->
      <ion-back-button color="light" defaultHref="/login"></ion-back-button>
    </ion-buttons>
      <ion-img src="assets/icon/servipagLogos.png" id="img-logo" class="ion-align-self-center"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-list>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle style="color: #3880ff;">Hola</ion-card-subtitle>
      <ion-card-title class="titleCard">Selecciona tus cuentas a pagar</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-list>


<div>
<ion-button expand="block" class="btnAgregar">Agregar</ion-button>
</div>


<div>
  <span style="margin-left: 1rem;">
  <ion-checkbox style="margin-bottom: -8px;"></ion-checkbox>
  <ion-label style="margin-left: 1rem;font-size:small">Seleccionar todo</ion-label>
  </span>

  <span style="margin-right: 1rem;float: right;">
    <ion-label style="font-size:small; margin-right: 1rem;">Ordenar</ion-label>
  <ion-icon name="options-outline" class="ordenar"></ion-icon>
  </span>
</div>

<ion-list>
    <ion-card style="height: 4.5rem;">
      <ion-checkbox style="margin-bottom: 5px;margin-left: 1.5rem;"></ion-checkbox>
      <ion-img src="assets/icon/vespucioSur.png" id="img-logoSur" class="ion-align-self-center"></ion-img>
      <ion-label class="labelTitle">
        Pago Vespucio Sur.
      </ion-label>
      <div>
        <ion-label class="labelSubTitle">
          0123456789
        </ion-label>
      </div>
    </ion-card>
</ion-list>


<ion-button expand="block" id="center-button" (click)="returnToLogin()">Buscar boletas</ion-button>