#center-button{
    margin:auto;
    width: 90%;
    margin-top: 85%;
}

#img-logo {
    width: 10rem;
    height: 5rem;
    margin: auto;
  }

  #img-logoSur {
    width: 4rem;
    display: inline-flex;
    margin-left: 2rem;
    margin-top: 17px;
  }

.titleCard{
    font-size: small;
    font-weight: 400;
}

.btnAgregar{
    float: right;
    width: 7rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.ordenar{
    margin-bottom: -4px;
    margin-top: 6px;
}

.labelTitle {
    display: inline-flex;
    vertical-align: top;
    margin: 1rem 0 0 1rem;
    font-weight: bold;
    color: #3880ff;
}

.labelSubTitle {
    margin-left: 10.2rem;
    display: flex;
    margin-top: -1rem;
    font-size: smaller;
}

.toolbar-color{
    --background: #11c1e0;
  }