#img-logo {
  width: 10rem;
  height: 5rem;
  margin: auto;
}

#img-logoSur {
  width: 4rem;
  display: inline-flex;
  margin-left: 2rem;
  margin-top: 17px;
}

.toolbar-color{
  --background: #11c1e0;
}